body {
    background-color: yellow;
}

.item {
    background-color: #f1f1f1;
    border: 2px dashed blue;
}
.services {

    
}

h2 {
    background-color: black;
    color: white;
    padding: 10px;
}